[submodule "firmware/esp32/libs/xpt2046"]
	path = firmware/esp32/libs/xpt2046
	url = https://github.com/PaulStoffregen/XPT2046_Touchscreen.git
[submodule "firmware/daisy/libs/libDaisy"]
	path = firmware/daisy/libs/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "firmware/daisy/libs/DaisySP"]
	path = firmware/daisy/libs/DaisySP
	url = https://github.com/electro-smith/DaisySP.git

[submodule "firmware/esp32/components/LovyanGFX"]
	path = firmware/esp32/components/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
[submodule "firmware/shared/tests/_deps/googletest-src"]
	path = firmware/shared/tests/_deps/googletest-src
	url = https://github.com/google/googletest.git
